[Unit]
Description = pbmcd service
After = syslog.target
After = network.target

[Service]
ExecStart = /root/proxmoxbmc/.env/bin/pbmcd --foreground
# Example (the environment should be baked into the interpreter for the venv, no need to activate):
# ExecStart = /root/proxmoxbmc/.env/bin/pbmcd --foreground
Restart = on-failure
RestartSec = 2
TimeoutSec = 120
Type = simple
# Optional if running as a different use don't forget to create one first
# User = pbmc
# Group = pbmc

[Install]
WantedBy = multi-user.target
